# Django
DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DJANGO_SETTINGS_MODULE=ea1rkv.settings.production
DJANGO_ALLOWED_HOSTS=ea1rkv.es,www.ea1rkv.es

# Database
POSTGRES_DB=ea1rkv
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-strong-password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# Wagtail
WAGTAILADMIN_BASE_URL=https://ea1rkv.es

# SSL (set to True when SSL is configured)
SECURE_SSL_REDIRECT=False
